.band h1{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: rgb(56, 57, 57);
}
.allimg{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
hr{
    border: solid 1px rgb(226, 220, 220);
    margin: 20px;
}